
  .img1{

  
   padding:6% 10% 4% 0%;
   
   
  }
  .sellbook{
 

  }
  .submit{
    margin:0%;
    padding: 0%
  }

  .sellbookbg
  {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ97RDPegRD7yJ13xTgbRadcvR9o1bGdjZQvvFXjThAX9ssZNd9');
    background-repeat: no-repeat;
    background-size: 100%
  }